*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vh;
}




/* this is the dashboard*/
h2{
    display: flex;
    font-size: 50px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    justify-content: center;
}
.center-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    text-align: center;
    color: #fff;
}
.center-content h1{
    font-size: 160px;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
}
.center-content h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}
.center-content a{
    text-decoration: none;
    display: inline-block;
    color: #ffff;
    font-size: 24px ;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}
    /* Profile*/
 
.btn1{
    background: transparent;
    height: 50px;
    width: 200px;
    border-radius: 20px;
    border: 2px solid #fff;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 800px;
    font-size: 15px;
    box-shadow: 0 0 0 white;
    transition: ease-in .5s;
    margin-left: 40%;
    
}
a{
    color: #fff;
    text-decoration: none;
    transition: ease-in-out .5s;
}
.btn1:hover{
    box-shadow: 0 0 20px #fff;
    inset: 200px 0 #fff;
}
.btn1:hover a{
    color: rgb(38, 38, 38);
}
.social{
    display: flex;
    justify-content: center;
    align-items: top;
    height: 100vh;
    text-align: center;
    color: #fff;

}


/* resume*/
.btn2{
    background: transparent;
    height: 50px;
    width: 200px;
    border-radius: 20px;
    border: 2px solid #fff;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 800px;
    font-size: 15px;
    box-shadow: 0 0 0 white;
    transition: ease-in .5s;
}
a{
    color: #fff;
    text-decoration: none;
    transition: ease-in-out .5s;
}
.btn2:hover{
    box-shadow: 0 0 20px #fff;
    inset: 200px 0 #fff;
}
.btn2:hover a{
    color: rgb(38, 38, 38);
}


.social{
    display: flex;
    justify-content: center;
    align-items: top;
    height: 100vh;
    text-align: center;
    color: #fff;

}
/* this is the personal info*/
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: #fff;
}
/*navigation bar */
nav{
    margin: 10px auto 0;
    position: relative;
    width: 555px;
    height: 50px;
    background-color: #34495e;
    border-radius: 8px;
    font-size: 0;
}
nav a{
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline block;
    position: relative;
    z-index: 1;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    padding: 25px 20px;
}
nav .animation{
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
}
a:nth-child(1){
    width: 100px;
}
a:nth-child(2){
    width: 110px;
}
a:nth-child(3){
    width: 100px;
}
a:nth-child(4){
    width: 160px;
}
a:nth-child(5){
    width: 120px;
}
nav .start-Facebook, a:nth-child(1):hover~.animation{
    width: 115px;
    left: 0;
    background-color: #1abc9c;
}
nav .start-Youtube, a:nth-child(2):hover~.animation{
    width: 110px;
    left: 120px;
    background-color: #1abc9c;
}
nav .start-Twitter, a:nth-child(3):hover~.animation{
    width: 100px;
    left: 232px;
    background-color: #1abc9c;
}
nav .start-Linkedin, a:nth-child(4):hover~.animation{
    width: 100px;
    left: 340px;
    background-color: #1abc9c;
}
nav .start-GitHub, a:nth-child(5):hover~.animation{
    width: 120px;
    left: 435px;
    background-color: #1abc9c;
}
body{
    background: linear-gradient(60deg, #16213E, #61A4BC, #FE7E6D, #E94568);
    background-size: 500%;
    animation: change 5s ease-in-out infinite;
}
span{
    color: #2BD6B4;
}


/* this is the background*/

@keyframes change {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
    
}